.loading-page-container {
    animation: loginAnimation 3s linear 1 forwards;
    height: 100vh;
    width: 100vw;
    display: flex;
}

@keyframes loginAnimation {
    0% {
        background-color: #fff;
    }

    30% {
        background-color: var(--primary-color);
    }

    50% {
        background-color: #122E50;
    }

    90% {
        background-color: #000;
    }

    100% {
        background-color: #000;
    }
}

.loading-logo-container {
    margin: auto;
    margin-top: 300px;
    display: flex;
    align-items: center;
}


.loading-logo-nex {
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-size: 29px;
    font-weight: 200;
}

.loading-logo-us {
    margin-left: 3px;
    padding-left: 1.5px;
    padding-right: 3.5px;
    letter-spacing: -1px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: 26px;
    height: 30px;
    position: relative;
    top: 1px;
}


.loading-logo-us span {
    position: relative;
    bottom: 5px;
}