.intro-custom {
    height: 560px
}

.update-intro-container {
    display: flex;
    flex-direction: column;
}

.update-intro-header {
    display: flex;
    padding: 10px 10px 8px 10px;
    border-bottom: 0.5px solid var(--color-text-light);
}

.update-intro-title {
    position: relative;
    top: 3px;
    left: 8px;
}

.update-intro-form-container {
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.update-intro-form-container div {
    margin: 5px 0px;
    position: relative;
}

.required {
    font-size: 10px;
    color: var(--color-text-light);
}

.update-intro-pronouns-container {
    position: relative;
}

.update-intro-label {
    font-size: 13px;
    color: var(--color-text-light)
}

.update-intro-pronouns-label {
    position: absolute;
    bottom: -17px;
    left: 0;
    font-size: 13px;
    color: var(--color-text-light);
}

.update-intro-input {
    padding: 5px;
    font-size: 13px;
    box-shadow: var(--input-box-shadow);
    border: none;
    border-radius: 4px;
}

.update-about-save-button {
    margin-left: auto;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 12.8px;
    box-shadow: 0 0 0 1px var(--color-button-container-primary-border);
    padding: 2px 11px;
    font-size: 12px;
    transition: background-color .1s ease-in-out;
    transition: transform 0.3s ease;
    margin-right: 13px;
}

.update-about-save-button:hover {
    transform: scale(1.1);
    background-color: #004182;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}