.post-footer-comment-container {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

.comment-form-container {
    display: flex;
}

.comment-form-user-photo {
    height: 40px;
    width: 45px;
    min-width: 41px;
    border-radius: 50%;
    object-fit: cover;
    /* min-width: 45px; */
}

.comment-create-form {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    flex-grow: 1;
    max-width: none;
    display: flex;
    justify-content: left;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    margin-left: 12px;
    padding: 10px 20px;
    transition: box-shadow 0.1s ease-in-out;
}

.comment-create-form:focus-within {
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.comment-list-container {}

.comment-item-container {
    margin: 15px 0 2px 0;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 15px;
}

.comment-item-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: var(--color-background-button-hover);
    padding: 5px 10px 10px 10px;
    width: 100%;
    border-radius: 0 5px 5px 5px;
}

.comment-item-header {
    display: flex;
    position: relative;
}

.comment-names {
    font-size: 15px;
    font-weight: 600;
}

.comment-names:hover {
    text-decoration: underline;
}

.comment-pronouns {
    color: var(--color-text-light);
    font-size: 12px;
    margin-left: 5px;
    align-self: center;
    justify-self: flex-end;
}

.comment-timestamp {
    font-size: 11px;
    color: var(--color-text-light);
    align-self: center;
    margin-left: auto;
}

.comment-edit-button {
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    bottom: 2px;
    color: var(--color-text-light);
    font-weight: 600;
    font-size: 13px;
}

.comment-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 100;
    margin-top: 15px;
    width: 100px;
    background-color: #fff;
    border: 0.5px solid var(--color-text-light);
    border-radius: 8px 0 8px 8px;
    box-shadow: 0px 0.5px 2px 0.5px rgba(0, 0, 0, 0.3);
}

.comment-dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.comment-dropdown-update,
.comment-dropdown-delete {
    display: flex;
    margin-right: auto;
    width: 100%;
}

.comment-dropdown-update:hover,
.comment-dropdown-delete:hover {
    background-color: var(--color-background-button-hover);
}

.comment-update-button,
.comment-delete-button {
    color: var(--color-text-light);
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: 5px;
    cursor: pointer;
}

.comment-update-text,
.comment-delete-text {
    color: var(--color-text-main);
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
}

.comment-headline {
    font-size: 12px;
    margin-top: -4px;
    color: var(--color-text-light)
}

.comment-content {
    margin-top: 8px;
    font-size: 14px;
}

.comment-post-button {
    background-color: var(--primary-color-alt);
    color: #fff;
    border-radius: 12.8px;
    box-shadow: 0 0 0 1px var(--color-button-container-primary-border);
    padding: 0 10px;
    margin: 5px;
    font-size: 12px;
    transition: background-color .1s ease-in-out;
    margin-left: 10px;
}

.comment-post-button:hover {
    background-color: #004182;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.comment-update-form {}

.comment-update-input {
    border: none;
    font-size: 14px;
    border-radius: 35px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px 0px 0px 0px;
}

.comment-update-buttons {
    display: flex;
}

.comment-update-save,
.comment-update-cancel {
    font-size: 12px;
    padding: 3px 10px;
    background-color: transparent;
    border-radius: 35px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-right: 5px;
    margin-top: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    transition: box-shadow 0.1s ease;
}

.comment-update-save {
    background-color: var(--primary-color-alt);
    color: #fff;
    transition: background-color 0.1s ease-in;
}

.comment-update-save:hover {
    background-color: #004182;
}

.comment-update-cancel:hover {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.6);
}