.like-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.1s ease-in-out;
}

.like-button:hover {
    background-color: var(--color-background-button-hover)
}

.like-button-active {
    border-radius: 5px;
    background-color: var(--color-background-button-hover)
}


.liked-icon {
    font-size: 20px;
    color: var(--primary-color-alt)
}

.unliked-icon {
    font-size: 20px;
    color: var(--primary-color-alt);
}

.liked-text {
    align-self: flex-end;
    margin-left: 10px;
    /* padding-top: 3px; */
    font-size: 16px;
    color: var(--primary-color-alt);
    font-weight: 500;
}

.unliked-text {
    align-self: flex-end;
    margin-left: 10px;
    /* padding-top: 3px; */
    font-size: 16px;
    color: var(--color-text-light)
}