.profile-dropdown {
    position: relative;
}

.profile-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    /* border: 1px solid black; */
    right: 10%;
    z-index: 999;
    margin-top: 15px;
    /* padding: 15px; */
    width: 200px;
    background-color: #fff;
    border-radius: 12px 0 12px 12px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08)
}

.profile-dropdown-top-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border-faint);
    justify-content: center;
    align-items: center;
}

.profile-dropdown-top {
    padding: 15px 15px 5px 15px;
    display: flex;
}


.profile-dropdown-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-left: 5px;
}

.profile-dropdown-names {
    color: var(--color-text-main);
    font-weight: 600;
}

.profile-dropdown-headline {
    color: var(--color-text-light);
    font-size: 12px;
}

.profile-dropdown-view-profile-button {
    margin-bottom: 10px;
}

.profile-dropdown-bottom-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}