.logout-container {
    /* ... previous styles ... */
    background: #fff;
    animation: logoutAnimation 1.2s linear 1;
    height: 100vh;
    width: 100vw;
    display: flex;
}

@keyframes logoutAnimation {
    0% {
        background-color: #000;
    }

    25% {
        background-color: #122E50;
    }

    50% {
        background-color: var(--primary-color);
    }

    100% {
        background-color: #fff;
    }
}

.logout-logo-container {
    margin: auto;
    margin-top: 300px;
    display: flex;
    align-items: center;
}


/* 
@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        transform: translateY(-100%);
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
} */


.logout-logo-nex {
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.4px;
    font-size: 29px;
    font-weight: 200;
    cursor: pointer;
}

.logout-logo-us {
    margin-left: 3px;
    padding-left: 1.5px;
    padding-right: 4px;
    padding-bottom: 1px;
    letter-spacing: -1.4px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: 26px;
    position: relative;
    bottom: 1px
}