.main-nav-container-full {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 50;
}

.main-nav-container {
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    padding: 4px 0 5px 0;
    /* width: 800px; */
    /* width: 73.5%; */
    width: 1121px;
    margin: 0;
    align-items: center;
    border-right: 1.6px solid var(--color-border-faint);
    max-width: 1122px;
    min-width: 700px;
}

.left-main-nav {
    margin-right: auto;
    /* align-self: left; */
    vertical-align: middle;
    position: relative;
    top: 1px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
}


.feed-nav-logo-us {
    /* margin-left: 3px; */
    /* margin-right: auto; */
    padding-left: 1.5px;
    /* padding-top: 2px; */
    padding-right: 4px;
    padding-bottom: 1px;
    letter-spacing: -1px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: 25px;
    position: relative;
    bottom: 1px;
    line-height: 1.2;
    text-decoration: none;
    transition: transform 0.2s;
}

.feed-nav-logo-us:hover {
    transform: scale(1.1);
}

.right-main-nav {
    display: flex;
    position: relative;
    margin-left: auto;
    top: 1px;
    margin-right: 40px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* transition: transform 0.3s ease-in-out; */
    transition: transform 0.1s ease-in-out;
}

.main-nav-icons {
    font-size: 28px;
    margin: 0 18px;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    top: 2px;
    transition: color 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}

.fa-linkedin-in {
    top: 3.5px
}

/* .home-icon {
    font-size: 24px;
} */


.icon-container:hover .main-nav-icons {
    color: var(--primary-color);
    transform: scale(1.1);
}

.icon-text {
    font-size: 10px;
    color: var(--color-icon);
    font-weight: 400;
    position: relative;
    bottom: -1px;
    transition: color 0.1s ease-in-out;
}

/* .linkedin-main-nav {
    font-size: 30px;
    color: var(--primary-color);
}

.github-main-nav {
    font-size: 30px;
    color: var(--primary-color)
} */

.dropdown-menu {
    position: absolute;
    z-index: 2;
}