.other-user-container {
    width: 100%;
    display: flex;
    padding: 15px 0;
    /* border-bottom: 1px solid var(--color-border-light); */
    border-top: 1px solid var(--color-border-light)
}

.other-user-photo {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    /* border: 2px solid #fff; */
    border-radius: 50%;
}

.other-user-link {
    color: var(--color-text-main);
}

.other-user-link:hover .other-user-names {
    text-decoration: underline;
    color: var(--secondary-color)
}

.other-user-info {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.other-user-info>div {
    margin-bottom: 3px;
}

.other-user-names-pronouns {
    display: flex;
    align-items: center;
}

.other-user-names {
    font-size: 15px;
    font-weight: 500;
}

.other-user-pronouns {
    font-size: 12px;
    color: var(--color-text-light);
    margin-left: 5px;
    position: relative;
    top: 0.5px;
}

.other-user-pronouns::before {
    content: '\2022  ';

}

.other-user-headline {
    font-size: 12px;
    /* color: var(--color-text-light) */
}

.other-user-location {
    font-size: 12px;
    color: var(--color-text-light)
}

.other-user-connect-button {
    margin-top: 7px;
    width: 120px;
    padding: 3px 10px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 35px;
    border: 1.5px solid var(--primary-color);
    /* display: flex; */
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    align-items: center;
}

.other-user-connect-button:hover {
    box-shadow: inset 0 0 0 0.5px var(--color-button-container-secondary-emphasis-border);
    background-color: var(--color-button-container-secondary-emphasis-hover);
    /* color: var(--color-button-label-secondary-emphasis-hover); */
}

.other-user-connect-button-text {
    margin-left: 6px;
}

.other-user-message-button {
    margin-top: 7px;
    width: 120px;
    padding: 3px 10px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 35px;
    border: 1.5px solid var(--primary-color);
    /* display: flex; */
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    align-items: center;
    position: relative;
    cursor: default;
}

.message-button-tooltip {
    visibility: hidden;
    opacity: 0;
    top: 6px;
    right: -65px;
    position: absolute;
    font-size: 9px;
    font-family: var(--primary-font);
    color: var(--color-text-light);
    font-weight: 500;
}

.other-user-message-button:hover .message-button-tooltip {
    visibility: visible;
    opacity: 1;
}

.other-user-message-button:hover {
    box-shadow: inset 0 0 0 0.5px var(--color-button-container-secondary-emphasis-border);
    background-color: var(--color-button-container-secondary-emphasis-hover);
}


.other-user-message-button-container {
    position: relative;
}