.profile-page-container {
    display: flex;
    width: 100%;
    /* height: 100vh; */
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-canvas);
    padding-bottom: 20px;
}

.profile-main-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    /* border: 1px solid black; */
    color: rgba (0, 0, 0, 0.9);
    justify-content: center;
    margin-top: 58px;
    height: 100%
}

.profile-left-container {
    width: 650px;
    border-radius: 12.8px;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08); */
    margin: 0px 21px;
    background-color: var(--color-background-canvas);
    max-width: 770px;
}

.profile-left-content {
    display: flex;
    flex-direction: column;
    /* min-width: 440px; */
    /* width: 440px; */
    /* max-width: 700; */
    width: 100%;
    min-width: 245px;
}

.profile-content-intro {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    /* height: 100%; */
    border-radius: 12.8px;
    /* min-width: 350px; */
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

.profile-intro-background-image {
    border-radius: 12.8px 12.8px 0 0;
    width: 100%;
    position: relative;
    bottom: 1.5px;
    height: 170px;
    /* box-shadow: 0px 0x 0px 1px rgba(0, 0, 0, 0.08); */
}

.profile-photo-camera-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    /* margin-bottom: 20px; */
}

.profile-page-photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 110px;
    border: 2px solid #fff;
    margin-left: 22px;
    /* box-shadow: 0px 0x 0px 1px rgba(0, 0, 0, 0.08); */
    object-fit: cover;
}

.camera-button {
    color: var(--primary-color);
    position: absolute;
    bottom: 222px;
    left: 130px;
    /* right: 100px; */
    border-radius: 50%;
    background-color: #fff;
    /* background-color: transparent; */
    padding: 10px;
    cursor: pointer;
}

.camera-button-2 {
    color: var(--primary-color);
    position: relative;
    bottom: 150px;
    right: 16px;
    border-radius: 50%;
    background-color: #fff;
    /* margin-bottom: 150px; */
    padding: 10px;
    cursor: pointer;
    /* left: 10px; */
}

.camera-icon-container {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
}

.camera-button:hover,
.camera-button-2:hover {
    color: var(--secondary-color);
}

.profile-intro-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 100px;
    padding: 0 25px;
    margin-bottom: -85px;
}

.profile-intro-info-left {
    display: flex;
    flex-direction: column;
    position: relative;
    /* bottom: 30px */
}

.profile-intro-name-pronouns {
    display: flex;
}

.profile-intro-name {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.8px;
    position: relative;
    bottom: 2px;
}

.profile-intro-pronouns {
    font-size: 13px;
    color: var(--color-text-light);
    position: relative;
    top: 8px;
    margin-left: 4px;
}

.profile-intro-pronouns::before {
    content: '\2022  ';

}

.profile-intro-headline {
    font-size: 15px;
    letter-spacing: -0.5px;
    position: relative;
    bottom: 2px;
    line-height: 1.1;
    margin-right: auto;
}

.edit-profile-info-button {
    margin-left: auto;
    position: relative;
    bottom: 30px;
    color: var(--primary-color);
    border-radius: 50%;
    padding: 10px 10px;
    transition: background-color 0.1s ease-in;
    left: 10px;
    cursor: pointer;
}

.edit-profile-info-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.add-experience-button {
    margin-left: auto;
    position: relative;
    bottom: 8px;
    color: var(--primary-color);
    border-radius: 50%;
    padding: 10px 10px;
    transition: background-color 0.1s ease-in;
    left: 12px;
    cursor: pointer;
}

.add-experience-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.no-experiences-added {
    font-style: italic;
    color: var(--color-text-light);
    font-size: 13px;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 8px;
}

.profile-intro-location {
    font-size: 13px;
    color: var(--color-text-light);
    position: relative;
    top: 5px;
    margin-right: auto;
}

.profile-intro-connection-count {
    font-size: 12px;
    color: var(--primary-color);
    position: relative;
    font-weight: 500;
    /* top: 10px; */
    bottom: -1px;
    width: 70px;
    margin-bottom: 1px;
    left: -1px;
}

.connection-count-message-button-container {
    display: flex;
    padding: 1px;
    margin: 1px;
    margin-top: 7px;
}

.profile-connection-button {
    position: relative;
    bottom: 3px;
}

.profile-right-container {
    width: 280px;
    min-width: 200px;
    background-color: #fff;
    border-radius: 12.8px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    height: 100%;
    padding: 15px 18px 7px 18px;
}

.profile-right-header {
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 5px;
    padding-bottom: 6px;
}

.profile-content-about {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    border-radius: 12.8px;
    margin-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    min-height: 70px;
}

.profile-about-header {
    display: flex;
    justify-content: space-between;
    padding: 22px 25px 3px 25px;
    font-weight: 600;
}

.edit-about-button {
    color: var(--primary-color);
    position: relative;
    border-radius: 50%;
    padding: 10px 10px;
    transition: background-color 0.1s ease-in;
    bottom: 8px;
    left: 10px;
    cursor: pointer;
}

.edit-about-button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.profile-about-body {
    /* padding: 12px 25px; */
    margin: 0 25px 10px 25px;
    padding-top: 9px;
    font-size: 13px;
    border-top: 1px solid var(--color-border-light);
}

.border-none {
    border: none;
}


.see-more-button {
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.profile-experience-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    border-radius: 12.8px;
    margin-top: 10px;
    /* padding-bottom: 10px; */
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    min-height: 70px;
}

.profile-experience-header {
    display: flex;
    justify-content: space-between;
    padding: 22px 25px 0px 25px;
    font-weight: 600;
}


.loading-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust the height as needed */
}

.loading-profile-text {
    text-align: center;
}