.profile-badge-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12.8px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.skeleton-badge-container {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 12.8px;
    /* background-image: linear-gradient(180deg, #f8f9fb 25%, #ececec 37%, #f8f9fb 63%); */
    /* background-size: 100% 200%; */
    /* animation: shimmer 1.5s infinite; */
}

.skeleton-name {
    width: 115px;
    height: 10px;
    background-color: #f8f9fb;
    position: relative;
    bottom: 15px;
}

.skeleton-headline {
    width: 85px;
    height: 10px;
    background-color: #f8f9fb;
    position: relative;
}

/* @keyframes shimmer {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% -200%;
    }
} */

.profile-badge-loading-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12.8px;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08); */
    background-color: var(--background-color-canvas);
}

.badge-loading-circle-container {
    text-align: center;
    margin: 55px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.badge-loading-circle {
    width: 45px;
    height: 45px;
    border-right: 4px solid #ffffff;
    border-radius: 100%;
    animation: spinRight 800ms linear infinite;

    &:before {
        content: '';
        width: 6vmax;
        height: 6vmax;
        display: block;
        position: absolute;
        top: calc(50% - 3vmax);
        left: calc(50% - 3vmax);
        border-left: 3px solid #ffffff;
        border-radius: 100%;
        animation: spinLeft 800ms linear infinite;
    }

    &:after {
        width: 4vmax;
        height: 4vmax;
        top: calc(50% - 2vmax);
        left: calc(50% - 2vmax);
        border: 0;
        border-right: 2px solid #ffffff;
        animation: none;
    }
}

@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.badge-background {
    border-radius: 12.8px 12.8px 0 0;
    height: 60px;
    width: 100%;
}

.skeleton-background {
    border-radius: 12.8px 12.8px 0 0;
    height: 60px;
    width: 100%;
    /* background-color: #eef3f8 */
}

.badge-photo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    bottom: 33px;
    object-fit: cover;
    transition: box-shadow 0.1s ease;
    border: 1px solid #fff;
}

.skeleton-photo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    bottom: 33px;
    /* object-fit: cover; */
    transition: box-shadow 0.1s ease;
    /* border: 1px solid #fff; */
    background-color: #f8f9fb;
}

.badge-photo:hover {
    box-shadow: 0 0 0 1px var(--secondary-color);
    /* border: 1px solid #fff; */
}

.profile-badge-link {
    text-decoration: none;
    /* color: var(--secondary-color); */
    color: var(--primary-color);
    font-weight: 500;
    font-size: 17px;
    position: relative;
    bottom: 21px
}

.profile-badge-link:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.profile-badge-headline {
    font-size: 12px;
    color: var(--color-text-light);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 15px;
    border-bottom: 0.3px solid var(--color-text-light);
    letter-spacing: -0.5px;
    vertical-align: middle;
}

.profile-view-count {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    width: 100%;
    color: var(--color-text-light);
    font-weight: 500;
    padding: 0 15px;
    /* margin-left: 1px; */
}

.profile-connections-count {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 10px;
    color: var(--color-text-light);
    font-weight: 500;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.profile-badge-connections-link {
    color: var(--color-text-light);
    cursor: pointer;
}

.profile-badge-connections-link:hover {
    text-decoration: underline;
    color: var(--secondary-color)
}

.profile-badge-connections-number {
    cursor: pointer;
}

.profile-badge-connections-number:hover {
    text-decoration: underline;
    color: var(--secondary-color)
}