.update-experience-form-container {
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.update-experience-form-container div {
    margin-bottom: 5px;
}

.update-experience-employment-container {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.update-experience-employment-type,
.update-experience-locationtype {
    padding: 6px 1px
}

.update-experience-locationtype-container {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.update-experience-checkbox-container {
    display: flex;
    font-size: 13px;
    margin-top: 6px;
}

.update-experience-checkbox-label {
    font-size: 13px;
}

.update-experience-checkbox-input {
    /* display: flex; */
    margin-left: 10px;
    height: 15px;
    color: var(--color-text-light);
    width: 15px;
    position: relative;
    top: 2px;
    cursor: pointer;
}