.post-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 20px 15px 20px;
    border: 1px solid black;
    margin: 5px 15px 0 15px;
    border-radius: 12.8px;
    background-color: #fff;
    transition: box-shadow 83ms;
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

.post-header {
    display: flex;
    margin-bottom: 20px 0 20px 0;
    align-items: center;
}

.post-profile-pic {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-top: 6px;
}

.post-names-headline {
    margin-left: 10px;
    position: relative;
    bottom: 5px;
}

.post-author-names {
    font-weight: 600;
}

.post-author-pronouns {
    color: var(--color-text-light);
    font-size: 12px;
    margin-left: 5px;

}

.post-author-headline {
    color: var(--color-text-light);
    font-size: 12px;
    line-height: 1;
}

.post-dropdown-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    position: relative;
}

.post-dropdown-icon {
    margin-left: auto;
    position: relative;
    top: -9px;
    left: 9px;
    color: var(--color-text-light);
    font-size: 22px;
    background-color: transparent;
    border-radius: 50%;
    padding: 0 5px 14px 5px;
    vertical-align: middle;
    line-height: .5;
}

.post-dropdown-icon:hover {
    background-color: var(--color-background-canvas);
}

.post-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.post-delete-button {
    cursor: pointer;
    font-size: ;
}

.post-update-button {
    /* margin-left: auto; */
    cursor: pointer;
}

.post-body {
    margin: 20px 0 20px 0;
    /* overflow-wrap: normal; */
    white-space: normal;
    font-size: 14px;
}

.post-image {
    margin: 20px 0 20px 0;
}

.post-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 10px;
    margin-top: 20px;
}