.post-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 20px 15px 20px;
    border: 1px solid black;
    margin: 10px 15px 0 15px;
    border-radius: 12.8px;
    background-color: #fff;
    transition: box-shadow 83ms;
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

.post-header {
    display: flex;
    /* margin-bottom: 25px 0 20px 0; */
    margin-top: 4px;
    align-items: center;
}

.post-profile-pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-top: 0px;
}

.post-names-headline {
    margin-left: 10px;
    position: relative;
    top: 5px;
    line-height: 1.2;
    letter-spacing: -0.5px;
}

/* .profile-links:hover> :not(.post-author-pronouns) {
    text-decoration: underline;
} */

.post-author-names {
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 17px;
}

.post-author-pronouns {
    color: var(--color-text-light);
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
    position: relative;
    bottom: 1px
}

.post-author-headline {
    color: var(--color-text-light);
    font-size: 14px;
    /* line-height: 1; */
}

.feed-post-timestamp {
    font-size: 12px;
    line-height: 1;
    position: relative;
    bottom: 4px;
    color: var(--color-text-light);
}

.post-dropdown-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    position: relative;
}

.post-dropdown-icon {
    margin-left: auto;
    position: relative;
    top: -15px;
    left: 9px;
    color: var(--color-text-light);
    font-size: 22px;
    background-color: transparent;
    border-radius: 50%;
    padding: 0 5px 14px 5px;
    vertical-align: middle;
    line-height: .5;
}

.post-dropdown-icon:hover {
    background-color: var(--color-background-canvas);
}

.post-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    left: 13px;
    font-size: 20px;
}

.post-delete-button {
    cursor: pointer;
    position: relative;
    bottom: 5px
}

.delete-button {
    color: red;
}

.post-update-button {
    /* margin-left: auto; */
    cursor: pointer;
    position: relative;
    bottom: 5px;
}

.edit-button {
    color: var(--secondary-color)
}

.post-body {
    margin: 20px 0 15px 0;
    /* overflow-wrap: normal; */
    white-space: normal;
    font-size: 16px;
}

.post-photo-container {
    border-radius: 11px;
    margin: 0 0 5px 0;
}

.like-count-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.like-count-icon {
    font-size: 15px;
    color: var(--tertiary-color);
    /* background-color: var(--secondary-color); */
    /* border: 1px solid var(--primary-color-alt); */
    padding: 2px;
    border-radius: 50%;
}

.like-count-text {
    margin-left: 4px;
    font-size: 12px;
    color: var(--color-text-light);
}

.post-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
}

.comment-button-container,
.repost-button-container,
.send-button-container {
    display: flex;
    background-color: transparent;
    align-items: center;
    transition: background-color 0.1s ease-in-out;
    padding: 10px 15px;
}

.comment-button-container:hover,
.repost-button-container:hover,
.send-button-container:hover {
    border-radius: 5px;
    background-color: var(--color-background-button-hover)
}

.comment-button,
.repost-button,
.send-button {
    font-size: 20px;
    color: var(--primary-color-alt)
}

.comment-text,
.repost-text,
.send-text {
    margin-left: 10px;
    /* padding-top: 1px; */
    font-size: 16px;
    color: var(--color-text-light);
}