/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
section,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: transparent;
    color: var(--reset-font-black);
    font-family: var(--primary-font)
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

button {
    padding: 0;
    border: none;
    margin: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6)
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 0 10px;
    outline: 0;
    vertical-align: middle;
    margin: 0em;
}

input[type="text"],
input[type="password"] {
    /* font-size: 1.4rem;
    line-height: 1.42857;
    font-weight: 400;
    -webkit-transition-duration: 334ms;
    transition-duration: 334ms;
    -webkit-transition-property: border-color, -webkit-box-shadow;
    transition-property: border-color, -webkit-box-shadow;
    transition-property: border-color, box-shadow;
    transition-property: border-color, box-shadow, -webkit-box-shadow;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    width: 100%;
    outline: 0;
    height: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.9); */
}


blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}