.splash-nav-bar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 16px;
    position: relative;
    margin: auto;
    max-width: 1128px;
}

.splash-logo {
    width: 100px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.splash-logo:hover {
    transform: scale(1.05);
}

.splash-page {
    width: 103px;
    height: 41.5px;
    position: relative;
    bottom: 1px;
    right: 1.5px;
}

.splash-nav-logo {
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-size: 29px;
    font-weight: 200;
    cursor: pointer;
}

.logo-nexus-container {
    display: flex;
    align-items: center;
}

.splash-nav-logo-nex {
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-size: 29px;
    font-weight: 200;
    cursor: pointer;
}

.logo-us-container {
    margin-left: 3px;
    background-color: var(--primary-color);
    border-radius: 5px;
    position: relative;
    height: 30px;
    width: 34px;
    position: relative;
    top: 1px;
    text-align: center;
    padding-right: 1px;
    /* padding-bottom: 31px; */
}

.logo-us-text {
    font-size: 27px;
    letter-spacing: -1px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    bottom: 7px;
    right: 1px;
}

.splash-nav-links {
    display: flex;
    align-items: center;
}

.splash-sign {
    margin-left: 2px;
}