.feed-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-canvas);
}

/* #main {
    transition: background-color 0.5s;
}

.scroll-effect {
    background-color: #000;
}

.space-effect {
    background-color: #222;
} */


.feed-navbar-container {
    /* width: 100%; */
    /* border: 1px solid black; */
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}


.feed-container {
    display: flex;
    width: 100%;
    height: 100%;
    color: rgba (0, 0, 0, 0.9);
    justify-content: center;
    margin-top: 56px;
    position: relative;

}

.feed-left {
    width: 195px;
    border-radius: 12.8px;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08); */
    top: 71px;
    min-width: 190px;
    /* max-width: 235px; */
    box-sizing: border-box;
}

/* feed left+middle+right = 79% */
.feed-middle {
    /* width: 40%; */
    width: 590px;
    height: 100%;
    margin: 0 8px 0 8px;
    box-sizing: border-box;
    min-width: 400.4px;
    /* max-width: 580px; */
}

.feed-post-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* border: 1px solid black; */
    margin: 0 15px;
    border-radius: 12.8px;
    background-color: #fff;
    transition: box-shadow 83ms;
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08)
}

.feed-post-form-top {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6)
}

.feed-user-profile-pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.feed-create-post-button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    flex-grow: 1;
    max-width: none;
    display: flex;
    justify-content: left;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    margin-left: 13px;
    cursor: pointer;
    font-weight: 600;

    min-height: 15px;
    padding: 12px 20px;
    transition: background-color 0.2s ease-in;
}

.feed-create-post-button:hover {
    background-color: var(--color-background-button-hover)
}

.feed-photo-icon {
    color: #378fe9;
}

.feed-photo-icon-text,
.feed-video-icon-text,
.feed-calendar-icon-text,
.feed-article-icon-text {
    color: var(--color-text-light);
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
    bottom: 1px;
    position: relative;
}

.feed-video-icon {
    color: #5f9b41;
}

.feed-calendar-icon {
    color: #c37d16;
}

.feed-article-icon {
    color: #e16745;
}


.feed-right {
    /* width: 15%; */
    width: 247px;
    /* border: 1px solid black; */
    background-color: #fff;
    border-radius: 12.8px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}

.post-index-container {
    /* display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    margin: 15px 15px 0 15px;
    border-radius: 12.8px;
    background-color: #fff;
    transition: box-shadow 83ms;
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08) */
}

.feed-post-form-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 14px;
    width: 97%;
    margin-left: 7px;
    height: 25px
}

.feed-post-form-bottom i {
    font-size: 18px;
}