.feed-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-canvas);
    /* background-image: url('../../../public/assets/images/seeds/space.jpg'); */
    /* background-size: contain; */
}

.feed-navbar-container {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}


.feed-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 800px;
    color: rgba (0, 0, 0, 0.9);
    justify-content: center;
    margin-top: 56px;
    position: relative;

}

.feed-left {
    width: 195px;
    border-radius: 12.8px;
    /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08); */
    top: 71px;
    min-width: 190px;
    /* max-width: 235px; */
    box-sizing: border-box;
}

/* feed left+middle+right = 79% */
.feed-middle {
    /* width: 40%; */
    width: 593px;
    height: 100%;
    margin: 0 6px 0 7px;
    box-sizing: border-box;
    min-width: 400.4px;
    /* max-width: 580px; */
}

.feed-post-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 15px;
    border-radius: 12.8px;
    background-color: #fff;
    transition: box-shadow 83ms;
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 19px;
}

.feed-post-form-top {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6)
}

.feed-user-profile-pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.feed-create-post-button {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    flex-grow: 1;
    max-width: none;
    display: flex;
    justify-content: left;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    margin-left: 13px;
    cursor: pointer;
    font-weight: 600;

    min-height: 15px;
    padding: 12px 20px;
    transition: background-color 0.2s ease-in;
}

.feed-create-post-button:hover {
    background-color: var(--color-background-button-hover)
}

.feed-photo-icon-text,
.feed-video-icon-text,
.feed-calendar-icon-text,
.feed-article-icon-text {
    color: var(--color-text-light);
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    bottom: 1px;
    position: relative;
}

.feed-photo-icon {
    color: #378fe9;
}

.feed-video-icon {
    color: #5f9b41;
}

.feed-calendar-icon {
    color: #c37d16;
}

.feed-article-icon {
    color: #e16745;
}

.feed-photo-icon,
.feed-video-icon,
.feed-calendar-icon,
.feed-article-icon {
    position: relative;
}

.feed-photo-icon,
.feed-video-icon,
.feed-calendar-icon,
.feed-article-icon {
    position: relative;
}

.feed-post-form-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 14px;
}

.feed-post-form-bottom i {
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.1s ease-in-out;
    position: relative;
}

.post-form-tooltip-text {
    visibility: hidden;
    opacity: 0;
    top: 0px;
    right: 5px;
    position: absolute;
    font-size: 9px;
    font-family: var(--primary-font);
    color: var(--color-text-light);
    font-weight: 500;
}

.feed-post-form-bottom i:hover .post-form-tooltip-text {
    visibility: visible;
    opacity: 1;
}

.feed-post-form-bottom i:hover {
    border-radius: 5px;
    background-color: var(--color-background-button-hover);
    cursor: default;
}


.feed-right {
    width: 247px;
    /* border-radius: 12.8px; */
    display: flex;
    flex-direction: column;
}

.about-developer-container {
    height: 330px;
    width: 100%;
    border-radius: 12.8px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    padding: 15px;
}

.about-developer-title {
    font-size: 16px;
    color: var(--primary-color-alt);
    font-weight: 600;
    margin-bottom: 10px;
}

.about-developer-image {
    float: left;
    font-size: 11px;
    max-height: 90px;
    max-width: 90px;
    border-radius: 12.8px;
    margin-right: 10px;
}

.about-developer-text {
    font-size: 12px;
    margin-bottom: 10px;
}

.about-developer-connect-title {
    font-size: 16px;
    color: var(--primary-color-alt);
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 15px
}

.connect-icon-container {
    display: flex;
    justify-content: space-around;
}

.connect-icon-nexus-container {
    display: flex;
    flex-direction: column;
}

.connect-icon-nexus {
    padding-left: 1.5px;
    /* padding-right: 1px; */
    padding-bottom: 1px;
    letter-spacing: -1px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    font-size: 22px;
    position: relative;
    bottom: 1px;
    line-height: 1.2;
    text-decoration: none;
    transition: transform 0.2s;
}

.connect-icon-nexus:hover {
    transform: scale(1.1);
}

.connect-icon-nexus-text {
    font-size: 10px;
    color: var(--color-icon);
    font-weight: 400;
    position: relative;
}

.me-icon-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4px;
    width: 70px;
}

.me-icon-links {
    font-size: 23px;
    margin: 2px 15px;
    color: var(--primary-color);
    position: relative;
    top: 2px;
    transition: color 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}

.me-icon-container:hover .me-icon-links {
    transform: scale(1.1);
}

.about-project-container {
    margin-top: 18px;
    height: 250px;
    width: 100%;
    background-color: #fff;
    border-radius: 12.8px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.about-project-technologies-title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.technologies-container {
    /* margin-top: 10px; */
    margin: 2px auto 15px auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--color-text-light);
    font-size: 10px;
    position: relative;
    text-align: center;
}

.technologies-row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2px 8px;
    font-weight: 500;
}

.technology-item {
    /* width: 50px; */
    padding: 5px;
    /* text-align: center; */
    text-decoration: none;
    color: var(--color-text-light)
}

.technology-item:hover {
    text-decoration: underline;
    color: var(--primary-color-alt)
}

.feed-about-project-logo-container {
    display: flex;
    margin: 0 auto;
    cursor: default;
}

.feed-about-project-logo {
    font-size: 11px;
    cursor: default;
    position: relative;
    top: 0.5px;
}

.feed-about-project-logo-us {
    font-size: 10px;
    margin-left: 1.5px;
    letter-spacing: 0.1px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
    position: relative;
    bottom: -4px;
    cursor: default;
    padding: 0 1px 0px 1px;
    height: 11px;

}

.feed-about-project-logo-us span {
    position: relative;
    /* bottom: 17%; */
    bottom: 2px;
    padding-right: 0.5px;
}

.feed-project-text {
    font-size: 11px;
    margin-left: 3.5px;
    position: relative;
    top: 0.5px;
}