.feed-page-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-background-canvas);
}

.feed-navbar-container {
    width: 100%;
    border: 1px solid black;
}

.feed-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: -0px auto 0;
    padding: 52px 0 0;
    border: 1px solid black;
    color: rgba (0, 0, 0, 0.9);
}

.feed-left {
    width: 25%;
    border: 1px solid black;
}

.feed-middle {
    width: 50%;
    border: 1px solid black;
    height: 500px
}

.feed-right {
    width: 25%;
    border: 1px solid black;
}