.update-cover-photo-custom {
    width: 600px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    top: 35px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.update-cover-photo-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
}

.update-photo-header {
    display: flex;
    padding: 12px;
    /* padding-top: 12px */
    border-bottom: 1px solid var(--color-border-light);
    height: 50px
}

.update-cover-photo-preview-container {
    position: relative;
    /* flex: 1; */
}


.update-cover-photo-preview {
    height: 150px;
    /* display: flex; */
    max-height: 400px;
    max-width: 500px;
    /* justify-self: center; */
    margin: auto;
    margin-top: 20px
}

.update-profile-photo-preview-close {
    position: absolute;
    top: 10px;
    right: 200px;
    font-weight: 400;
    border-radius: 50%;
    padding: 4px 5.5px 2px 5.5px;
    font-size: 12px;
    transform: scaleX(1.3);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.1s ease-in;
    color: #fff
}

.update-profile-photo-preview-close:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.upload-save-container {
    margin-top: auto;
    height: 50px
}

.update-cover-photo-footer {
    display: flex;
    padding-top: 2px;
    height: 35px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}


.cover-photo-save-button {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 12.8px;
    box-shadow: 0 0 0 1px var(--color-button-container-primary-border);
    padding: 5px 10px;
    /* margin: 5px; */
    font-size: 12px;
    transition: background-color .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    margin-left: auto;
    margin-right: 14px;
}

.cover-photo-save-button:hover {
    background-color: #004182;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}